@model MVCloginEstudioTest.Models.Pacientes

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles del paciente</h1>

<div>
    <h4>Paciente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rut)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rut)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombrePaciente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombrePaciente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoPaciente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApellidoPaciente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MotConsulta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MotConsulta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consulta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consulta)
        </dd>
    </dl>
</div>

@if (Model.Atencion != null)
{
    <h2>Atencion medica</h2>

    <table class="table">
        <thead>
        <th>Alergias</th>
        <th>Signo vital</th>
        <th>Enfermedad cronica</th>
        <th>Diagnostico</th>
        <th>Tratamiento</th>
        </thead>
        <tbody>
            @foreach (var item in Model.Atencion)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Alergias)</td>
                    <td>@Html.DisplayFor(modelItem => item.SignoVital)</td>
                    <td>@Html.DisplayFor(modelItem => item.EnfermedadCronica)</td>
                    <td>@Html.DisplayFor(modelItem => item.Diagnostico)</td>
                    <td>@Html.DisplayFor(modelItem => item.Tratamiento)</td>
                </tr>
            }
        </tbody>
    </table>

}

<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdPaciente }) |
    <a asp-action="Index">Ir a la lista de pacientes</a>
</div>
